##foreach $(project.interfaces)

##mkdir $(interface.filePath)

##fileopen $(interface.filePath)$(interface.name)Wrapper.h
##include "Wrapper.h"
##fileclose

##fileopen $(interface.filePath)$(interface.name)Wrapper.cpp
##include "Wrapper.cpp"
##fileclose

##endfor

##fileopen ServiceGroupImpl.h
##include "ServiceGroupImpl.h"
##fileclose

##fileopen ServiceGroupImpl.cpp
##include "ServiceGroupImpl.cpp"
##fileclose
