##ifeq($($services),)
##error service name is not set
##endif

##echo adding service(s): $($services)

##var servicesTmp $($services)

##until($($servicesTmp),)

##var serviceNs $($servicesTmp.!lasttoken/ /||$servicesTmp)

##var service $($serviceNs.!lasttoken/./||$serviceNs)
##var ns $($serviceNs.!cutlast/./)
##echo serviceNs=[$($serviceNs)], svc=[$($service)], ns=[$($ns)]


##mkdir $($service.!tolower)/src

##ifeq($($hpp),true)

### hpp style service

##fileopen $($service.!tolower)/src/$($service).hpp
##include <addservicehpp/Service.hpp>
##fileclose

##fileopen $($service.!tolower)/CMakeLists.txt
##include <addservicehpp/CMakeLists.txt>
##fileclose

##else

### h/cpp style service

##fileopen $($service.!tolower)/src/$($service).h
##include <addservice/Service.h>
##fileclose

##fileopen $($service.!tolower)/src/$($service).cpp
##include <addservice/Service.cpp>
##fileclose

##fileopen $($service.!tolower)/CMakeLists.txt
##include <addservice/CMakeLists.txt>
##fileclose

##endif

##var servicesTmp $($servicesTmp.!cutlast/ /)
##done


##fileopen CMakeLists.txt.append
##include "CMakeLists.txt"
##fileclose
