##ifeq($($services),)
##cgerror service name is not set
##endif

##echo generating project: $(project.name)
##echo services: $($services)

##var servicesTmp $($services)

##until($($servicesTmp),)

##var serviceNs $($servicesTmp.!lasttoken/ /||$servicesTmp)

##var service $($serviceNs.!lasttoken/./||$serviceNs)
##var ns $($serviceNs.!cutlast/./)
##echo serviceNs=[$($serviceNs)], svc=[$($service)], ns=[$($ns)]


##mkdir $($service.!tolower)/src

##fileopen $($service.!tolower)/src/$($service).h
##include <addservice/Service.h>
##fileclose

##fileopen $($service.!tolower)/src/$($service).cpp
##include <addservice/Service.cpp>
##fileclose

##fileopen $($service.!tolower)/CMakeLists.txt
##include <addservice/CMakeLists.txt>
##fileclose


##var servicesTmp $($servicesTmp.!cutlast/ /)
##done


##fileopen CMakeLists.txt
##include "CMakeLists.txt"
##fileclose
